<p id="notice"><%= notice %></p>

<h1>List of movie</h1>
<% @lists.each do |list| %>
  <div class="d-flex">
    <p class="mx-5"><%= link_to list.name, list_path(list) %></p>
    <p><%= link_to 'Delete a list', list_path(list), method: :delete, data: { confirm: 'Are you sure?' } %></p>
  </div>
<% end %>

<br>

<%= link_to 'New List', new_list_path %>
